.buttons{
    text-align: center;
}
.line{
    border-top: 5px solid black;
    margin-top: 20px;
  
}
.b1{
    
    background-color: #000000;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 25px;
}
.b2 {
    
    background-color: rgb(16, 16, 109);
    color:white;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 25px;
}
.b3 {
    
    background-color: yellow;
    border: 1px grey;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 25px;
}
.b4 {
    
    background-color: green;
    border: 1px grey;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 25px;
}
.content {
    text-align: center;
    width: 100%;
    height: 93.5vh;
    background-color: rgb(255, 255, 255);
}

.textarea {
    padding-top: 150px;
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

}

textarea {

    width: 70%;
    height: 70%;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(0, 0, 0);
    font-size: 24px;
    padding: 10px;
}